@{
    ViewData["Title"] = "Öğrenci Bilgi Sistemi";
}

<div class="text-center">
    <h1 class="display-4">Kocaeli Üniversitesi</h1>
    
    <h1 class="display-5">Öğrenci Bilgi Sistemi</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
